[2021-02-26 15:45] dmitriid opened #9 "A reasonably weird table schema"
I haven't had time to convert it to Elixir, and it's more code creating stuff than the actual queries, but all I got so far 😬

This is based on a real database on on real db data, that's why some fields might not make sense (like "timestamps" that are varchars. They are references to something else in real DB)

[code]

[2021-02-28 17:43] kevinlang opened #12 "Awesome!"
Was _just_ looking into reviving my ill-fated attempt at this once before, `xqlite3` that got nowhere due to the busy errors you mentioned in the README (and also because it was my first foray into Elixir programming, probably not the best thing to start with).

You may want to post about it on the Elixir Forum as things get somewhat stable, as a decent SQLite3 ecto3 driver has been wanted for som

[2021-03-01 00:20] warmwaffles commented on #12
Thanks @kevinlang, there are plenty of outstanding issues right now that I am about to start throwing into the issue tracker.

I still occasionally get the sqlite3 busy error, or sqlite database is locked when trying to migrate.

And I totally also cloned your library to see the work you put in to it.

[2021-03-01 00:21] warmwaffles opened #13 "Implement structure dump and load"
Currently it is not implemented and needs to be. The implementation should live in `Ecto.Adapters.Exqlite`.

[2021-03-01 00:23] warmwaffles opened #14 "Connection pooling needs to be altered"
The connection pooling needs to be altered to only allow one connection to make modifications and the others can only query. Unsure on how to get this implemented, but DBConnection does allow you to specify / build your own pooling method.

Some solutions or ideas on how to go about this would be excellent.

[2021-03-01 00:24] warmwaffles opened #15 "Rollback is not functioning correctly"
When you migrate a database forward, it works just fine. Rolling back any number of steps fails.

[2021-03-01 01:12] kevinlang commented on #12
Might also be worthwhile looking through the sqlite3 ruby gem and its associated ActiveRecord adapter/connector. I remember looking through those at the time of my initial attempt and it gave me some good insights.

I also find looking at the go-sqlite3 issues to give some insight into common errors around sqlite3 itself (since I'm certainly no expert). They also seem to get similar locked errors

[2021-03-01 01:46] warmwaffles commented on #12
Probably a good call on the `begin immediate`. Right now transactions default to `deferred` since that is what is default in sqlite3.

[2021-03-01 01:50] warmwaffles opened #16 "How best to deal with timezone aware datetimes"
The original `sqlite_ecto2` library used `TEXT_DATETIME` to preserve the offset in the datetime. All datetimes stored in sqlite are shifted to UTC.

My personal opinion is that all datetimes should be stored in utc and the named timezone they need to be shifted to, should be stored in a separate column else where. Having a simple `+03:00` does not convey daylight savings time.

[2021-03-01 02:01] warmwaffles opened #17 "Support FROM in when running UPDATE"
There are two tests that are failing at the moment.

The following sql is valid according the sqlite documentation

[code]

[2021-03-01 02:12] kevinlang commented on #17
I think I have a fix for this! I got that `common table expression update_all` passing locally. I'll open a PR.

[2021-03-01 02:13] warmwaffles opened #18 "Need tests and confirmation that streaming is functioning as advertised."
Title says it all. We currently don't have any tests verifying database streaming.

[2021-03-01 02:14] warmwaffles commented on #17
Excellent! @kevinlang I was just starting to look at it. I shall swap over to something else.

[2021-03-01 02:14] #12 closed

[2021-03-01 02:14] #9 closed

[2021-03-01 02:47] warmwaffles opened #21 "Query cache should be LRU based"
Right now the query cache `Exqlite.Queries` currently just grows infinitely. I think the solution we should look at is have this be a configurable value something like `query_cache_size: 100` to set a max value, and setting to `0` would disable query caching.

[2021-03-01 02:59] warmwaffles opened #23 "Look into supports_ddl_transaction? causing busy issues"
This is what caused a ton of issues for other ecto adapters

[code]

If you set this to `true`, the initial migrations for the test database will not work. Something is happening with transactions not being committed and it hangs when trying to insert the schema_migration record.

[2021-03-01 03:14] #17 closed

[2021-03-01 03:21] #18 closed

[2021-03-01 03:35] warmwaffles opened #26 "Does not properly compile on Windows"
I have not tried to test this on windows yet. I do have access to a windows machine, but no idea how we can get this automated.

[2021-03-01 14:42] #13 closed

[2021-03-02 21:52] dmitriid opened #28 "Better handling of nulls"
Given:

[code]

And the following data in the db:

[code]

The following will fail:

[code]

This is called from `exqlite.ex:186`:

[code]

[2021-03-02 21:56] warmwaffles commented on #28
I'll take a look into this

[2021-03-02 22:00] dmitriid commented on #28
@warmwaffles

[code]

[2021-03-03 22:19] warmwaffles opened #30 "Add support for some json functions"
We currently compile the sqlite3 adapter with the json extension. https://www.sqlite.org/json1.html

We should add some support for it since postgres and mysql have support of it as well.

[2021-03-03 22:20] #28 closed

[2021-03-04 13:14] #21 closed

[2021-03-04 14:37] #16 closed

[2021-03-06 01:59] kevinlang opened #35 "Repo.delete_all does not return number of affected rows"
Simple case in my `kcl-delete-2` branch:

[code]

The match on {1, _} will always fail.

[2021-03-06 18:45] warmwaffles commented on #35
@kevinlang in https://github.com/warmwaffles/exqlite/pull/36 I added a `total_changes` call. We could incorporate a fix there too.

[2021-03-06 18:57] warmwaffles commented on #35
Went ahead and made that fix, removed `total_changes` and added two tests similar to the one you posted.

[2021-03-06 22:20] warmwaffles commented on #35
Fixed this issue

[2021-03-06 22:20] #35 closed

[2021-03-06 22:20] warmwaffles commented on #15
Fixed this issue

[2021-03-06 22:20] #15 closed

[2021-03-08 04:00] warmwaffles opened #40 "Add telemetry support"
Since I am unsure of how effective cached prepared statements are versus not caching them at all, we should probably add some telemetry support.

[2021-03-08 04:44] warmwaffles opened #42 "Database busy error"
@kevinlang I am going to track the database busy issue here.

Previous discussions:

* https://github.com/warmwaffles/exqlite/pull/38
* https://github.com/warmwaffles/exqlite/pull/39#issuecomment-792447244

[2021-03-08 04:47] warmwaffles commented on #42
I need to dig into `Ecto.Adapters.SQL.Sandbox` more to ascertain if it can work with sqlite's restriction of 1 writer at a time. We are definitely hitting some issues where another test has opened a transaction but has not committed it yet and we are trying to read back those changes.

Yay for concurrency issues.

[2021-03-08 04:55] kevinlang commented on #42
It is worth noting that the tests are running sequentially, and that the sandbox makes it so one checks out only a single connection at a time. So the issue we are hitting in our tests is more sequential than a real world scenario.

I think you are right that there is some issue where a sandboxed connection is not closing out correctly, affecting the other tests.

One other approach I thought of w

[2021-03-08 05:03] warmwaffles commented on #42
This is precisely why I strayed away from using `:memory:` for integration tests.

Perhaps, instead of just returning `{:error, "Database busy"}` we can retry the statement again after a random wait?

https://github.com/warmwaffles/exqlite/blob/98dade3a5996d6930e3928eba6501a60e112db1e/lib/exqlite/connection.ex#L291-L292

[2021-03-08 05:07] warmwaffles commented on #42
The current test error originates from this line

https://github.com/warmwaffles/exqlite/blob/98dade3a5996d6930e3928eba6501a60e112db1e/lib/exqlite/sqlite3.ex#L105

I changed it to

[code]

And it just hung there

[code]

[2021-03-08 05:14] warmwaffles commented on #42
For future reference, https://sqlite.org/c3ref/busy_handler.html we could provide some tooling for handling busy callbacks. Though I don't know how just yet.

[2021-03-08 05:26] kevinlang commented on #42
One approach that may be worthwhile is moving some of the multistep logic into the NIF. :thinking:

[2021-03-08 05:42] kevinlang commented on #42
This was an interesting read. I'm still not sure why we are getting the lock, but it looks like we can improve reliability generally by responding to a busy response by doing appropriate rollbacks/resets.

https://sqlite.org/forum/forumpost/d2d81b46bc?t=c&unf&hist

[2021-03-08 14:39] warmwaffles commented on #42
So the rationale that I used for doing the individual stepping in elixir rather than the NIF is that if you have multiple database connections open where the stepping takes some time to complete, it could block the dirty nif scheduler. I wanted to allow make it return as fast as possible and to play nice with other dirty nifs.

[2021-03-08 19:39] Eiji7 opened #44 "Allow insert_all to be called with a query instead of rows"
Looks like `ecto` is going to support calling [Repo.insert_all/3](https://hexdocs.pm/ecto/Ecto.Repo.html#c:insert_all/3) with [Ecto.Query](https://hexdocs.pm/ecto/Ecto.Query.html) as source.

Related pull requests: elixir-ecto/ecto#3574 and elixir-ecto/ecto_sql#308

[2021-03-08 21:34] warmwaffles commented on #44
Oh that looks like it is going to be fun. Thanks for bringing this up @Eiji7.

[2021-03-09 03:55] warmwaffles commented on #42
@kevinlang I've been mucking around with potentially doing a multistep, I just remembered why I didn't port it from esqlite.

Due to the nature of how sqlite3 has you step through the results you can encounter an `SQLITE_BUSY` in the middle of the stepping. You would have a partial set of rows to return to elixir along with conveying that it's busy. I don't think it would be wise to sleep the nif

[2021-03-09 04:06] warmwaffles commented on #42
Question though. Why should we use `Ecto.Adapters.SQL.Sandbox`? When I disable sandboxing I don't run into a busy error.

[2021-03-09 04:29] kevinlang commented on #42
The main reason to use the Sandbox is so that the changes done during tests are rolled back. That is especially important with testing something that has a unique constraint, for example. Test run 1 would succeed, but test run 2 would fail because something exists there.

Or more usually, within a single test run, test A could modify something that effects test B.

[2021-03-09 04:36] kevinlang commented on #42
The fact that you don't hit the busy error without the sandbox, though, indicates that the issue may be with our transaction logic, since all the sandbox adds is wrapping all tests in a transaction. Since in both cases the tests run serially and should in theory not be hitting any sort of busy issue (as there is no concurrency).

Maybe next up is to add more investigation around our transaction lo

[2021-03-09 15:08] kevinlang commented on #42
Spent some time last night trying to track this down, still can't come up with anything.

Effectively for the repo case, all that is being executed is as follows, presumably across two different connections, one connection for each transaction, and all serially:

[code]

One thought I had was that it was related to us not resetting statements or something, though I would presume that a `ROLLBACK`

[2021-03-09 15:16] warmwaffles commented on #42
Yea that reset bug is actually something for an older version of sqlite3

https://sqlite.org/c3ref/step.html

[2021-03-09 15:21] kevinlang commented on #42
Unfortunately changing the `BEGIN TRANSACTION` to `BEGIN IMMEDIATE TRANSACTION` within `handle_begin` doesn't fix the problem for me - I still hit the same error.

[2021-03-09 15:58] warmwaffles commented on #42
In the commit above, I added  overlaps for connections on the same database file.

[2021-03-09 20:20] kevinlang opened #47 "handle_rollback does not set :transaction_status back to idle for :commit"
Only does so for :rollback, currently

[2021-03-09 21:59] #47 closed

[2021-03-09 23:11] kevinlang commented on #42
OK I think I have a big lead here!

I added some logging, you can see where in the `kcl-busy-log` branch. I noticed that the statement ref we have during `fetch_all` for the delete statement that is similar across the two tests is the same, DESPITE the fact we are using a different database connection. So somehow a ref from a statement in connection A is being used for connection B.

[code]

Ran w

[2021-03-09 23:15] warmwaffles commented on #42
I was just doing the same thing.

[code]

[2021-03-09 23:21] warmwaffles commented on #42
So it is using the same statement but for a different connection. That's really weird, so it's handing a reference from one db connection to another?

[2021-03-10 00:20] warmwaffles commented on #42
Sounds like we resolved this then?

[2021-03-10 00:26] kevinlang opened #49 "Make busy_timeout configurable"
Useful to configure in itself, but also for our tests that rely on testing it. It makes those tests hang for ~2seconds per the `2000` value we have hardcoded.

[2021-03-10 00:27] kevinlang commented on #42
I'll close for now :crossed_fingers:

[2021-03-10 00:27] #42 closed

[2021-03-10 02:22] warmwaffles commented on #44
@kevinlang this is going to be added soonish. We'll just need to port it over.

[2021-03-10 02:39] warmwaffles commented on #44
Actually this looks really easy to add. I'm working on it now.

[2021-03-10 03:08] #44 closed

[2021-03-10 03:31] #14 closed

[2021-03-10 04:01] warmwaffles opened #54 "Refactor expression generation"
I'd like to explore extracting this section of code into its own module. This connection module is just large and unwieldy personally.

https://github.com/warmwaffles/exqlite/blob/main/lib/ecto/adapters/exqlite/connection.ex#L1038-L1251

[2021-03-10 04:13] #30 closed

[2021-03-10 15:53] kevinlang opened #58 "Sandbox does not recover properly from errors, leading to busy issues"
If you go to `integration_test/exqlite/all_test.exs` and comment out the line for:

[code]

and run the test suite, the first test fails due to some reason, and then the rest of the tests fail with "Database busy". Which means the failed test is not rolling back its transaction correctly...

I believe `db_connection` has a `:disconnect` return status that I noticed some of the other adapters take

[2021-03-10 16:28] warmwaffles opened #60 "json_extract_path integration tests fail"
If you uncomment `Code.require_file "#{ecto}/integration_test/cases/type.exs", __DIR__` and run

[code]

You'll see the errors.

[2021-03-11 03:29] kevinlang opened #62 "insert_all not returning number of inserted rows"
Test w/ repo:
[code]
Will fail due to rhs being {0, []}

[2021-03-11 07:16] lawik opened #64 "Error :arguments_wrong_length on preload"
Hey

Nice to see an Ecto 3 SQLite library. I'm thrilled about this! :)

I just tried to use it with an existing project and after some modifications (remove ALTER TABLE migrations, remove :map type field) it seemed to work.

Until I hit this error.

Git repo with branch: https://github.com/lawik/noted/tree/exqlite

Trying to run this code:

[code]

[code]

I don't have an opportunity to sit down a

[2021-03-11 12:59] warmwaffles commented on #64
It should also be noted https://sqlite.org/np1queryprob.html#n_1_queries_are_not_a_problem_with_sqlite

But this is still something I'll look into.

[2021-03-11 13:02] lawik commented on #64
Interesting, hadn't thought of that. But yeah, the error remains :)

[2021-03-11 13:29] warmwaffles commented on #64
I'm able to recreate this. Working on a fix now.

[2021-03-11 15:43] kevinlang commented on #64
There is also a set of `preload.exs` integration tests we can onboard in `integration_test/`, for testing out the fix.

[2021-03-11 16:13] warmwaffles commented on #64
@kevinlang that is exactly what I was doing. Although I'm surprised there isn't a test within the connection_exs that doesn't check for a preload join. I'm gonna add one there as well.

[2021-03-11 16:15] warmwaffles commented on #62
That should be easy to get at @kevinlang `changes <- maybe_changes(state.db, query)` has that number attached.

[2021-03-11 18:20] warmwaffles commented on #64
@lawik a work around right now would be to do

[code]

Notice the `select:`. I think this may be an issue with ecto itself. I need to do some more testing with ecto to figure out where the issue resides.

[2021-03-11 19:00] kevinlang opened #65 "reload does not work"
https://hexdocs.pm/ecto/Ecto.Repo.html#c:reload/2

[code]

fails, rhs is `nil`

[2021-03-11 21:32] kevinlang commented on #65
The issue is that for something like this:

[code]

We end up generating a query like this:
[code]

So in `connection.ex` we are hitting this piece of logic for "flattening" the list out into the two separately bounded values:
[code]

But we aren't flattening out the params anywhere. Is it possible/feasible for us to flatten out the params reliably?

FWIW for the same query, postgrex would generat

[2021-03-11 21:48] #64 closed

[2021-03-11 21:52] kevinlang commented on #65
This is actually the same root cause as #64 . Seems to be fixed now :). Nice work @warmwaffles !

[2021-03-11 21:52] #65 closed

[2021-03-11 23:38] warmwaffles opened #67 "integration_test/cases/assoc.exs fails"
I don't know what is calling the `on_delete: :delete`

[2021-03-12 01:30] #62 closed

[2021-03-12 16:10] ConnorRigby opened #74 "Thanks for this!"
Hello, Current maintainer of [sqlite_ecto2](https://github.com/elixir-sqlite/sqlite_ecto2) here.

I just wanted to express my gratitude for you putting time into this. This is something the community will really benefit from.

[2021-03-12 16:10] #74 closed

[2021-03-12 18:25] warmwaffles opened #76 "Add support for RETURNING clause"
Now that we have 3.35.0 we can support this.

see #75

[2021-03-12 18:47] kevinlang opened #79 "Add support for DROP COLUMN"
Now that we have 3.35.0 we can support this.

see #75

[2021-03-12 19:26] kevinlang opened #80 "Improve on_conflict: nothing and un-fork repo.exs tests"
Right now we have a caveat about us returning an invalid PK id when hitting a conflict during `ON CONFLICT DO NOTHING`.

This is due to limitations around the last insert id, as mentioned in the README.

This also caused us to have to fork the `repo.exs` cases so that we can exclude one of the tests around this particular scenario.

Once #76 is supported, and we use that as the primary mechanism f

[2021-03-12 23:17] #76 closed

[2021-03-12 23:17] #80 closed

[2021-03-12 23:19] kevinlang opened #83 "Make last_insert_id call from Exqlite skippable, or otherwise remove it"
We no longer need it in the ecto layer thanks to `RETURNING` support added in #81. We can avoid another NIF call by not doing it when driving Exqlite via the Ecto adapter.

We should _probably_ keep it there and configurable for those who want to use `Exqlite` (without ecto) directly. Though they should probably also just use `RETURNING` themselves too, so maybe it makes sense to cut it out all to

[2021-03-12 23:33] kevinlang commented on #67
Looks like some of our recent changes fixed it :smile: . I re-onboarded it, now.

[2021-03-12 23:33] #67 closed

[2021-03-13 02:41] warmwaffles commented on #83
Let's leave the NIF call, as I can see that being a needed thing for someone and it will be supported by sqlite3 forever since it's been there since inception.

[2021-03-13 03:02] #83 closed

[2021-03-13 03:02] #79 closed

[2021-03-13 03:03] warmwaffles commented on #58
Yea I was running into this issue as well on my end of things. And do believe it could affect the production application use.

[2021-03-13 03:29] warmwaffles commented on #58
@kevinlang do you have a reliable way to reproduce this error? We used to before we were able to get the returning clause functioning. I just want to make sure when we flip some of these `:error`'s to `:disconnect` that we have a test that reliably bombs.

[2021-03-13 03:32] kevinlang commented on #58
Uncommenting the `type.exs` and running the integration tests reproduces it for me.

[2021-03-13 04:15] kevinlang opened #89 "Test failure due to `DSQLITE_LIKE_DOESNT_MATCH_BLOBS`"
[code]

Will fail with RHS being empty. If I set `-DSQLITE_LIKE_DOESNT_MATCH_BLOBS=0`, it passes.

We will either want to mark those respective tests as ignore, or set this flag to 0. I notice that in https://www.sqlite.org/compile.html it recommends setting it to true, though.

What do you think, @warmwaffles ?

[2021-03-13 04:16] warmwaffles commented on #89
I set it to true originally because of the recommendations. Which means I think we should tag those tests and then exclude them.

[2021-03-13 04:17] kevinlang commented on #89
:+1:

[2021-03-13 04:17] #89 closed

[2021-03-13 04:29] warmwaffles commented on #58
Yea this is a hard one to track down. If we bubble back any `:disconnect` some other errors occur.

[2021-03-13 19:26] kevinlang opened #93 "Onboard transaction.exs test suite"
This is the most reliable reproduction of #58. My bet is that once we have all the tests passing here, #58 will be fine, too.

Labeling as bug since these failing tests indicate an underlying bug that will be fixed at the same time the tests are onboarded.

[2021-03-13 19:27] kevinlang opened #94 "Onboard migrator.exs test suite"

[2021-03-13 19:27] kevinlang opened #95 "Onboard migration.exs test suite"

[2021-03-13 20:42] warmwaffles opened #96 "Verify UUID is working"
With a short little hiccup in #92 we discovered an issue with `Jason` and handling the UUID.

[2021-03-13 20:42] #60 closed

[2021-03-13 20:53] warmwaffles commented on #95
The other thing that needs to be rectified is deleting the old database file before running the test suite. Sometimes it gets stored in a bad state.

[code]

[2021-03-13 20:56] warmwaffles commented on #95
This is supposed to do that but I don't know if it is actually working

[code]

[2021-03-13 21:13] warmwaffles commented on #95
One test caught my eye

[code]

[code]

Query emitted

[code]

Now what this _should_ probably be is `attach database ":memory:" as foo` or `attach database "./path" as ecto_prefix_test`

Command it is failing on

[code]

[2021-03-13 21:16] kevinlang commented on #95
Yeah that one is incorrect for sure.

One thing to note is that doing _either_ `:memory:` or a tmp path will not quite work for the `PoolRepo`, as it does not necessarily use a single connection for the duration of the test. We may need to change the tests that rely on `PoolRepo` with a `prefix` to use a `TestRepo` instead.

[2021-03-13 21:21] warmwaffles commented on #95
I don't think we'll be able to get that test working for now. the `attach` only works for the current connection obviously so the pooled connections won't know about the other already connecting. Shame.

[2021-03-13 23:29] #95 closed

[2021-03-13 23:34] warmwaffles opened #99 "Improve compilation speed for rebuilds"
I would like to explore compiling sqlite3 to an object file and then linking it rather than recompiling everything at once. I dread making changes to the nif because the compilation takes so long.

[2021-03-14 02:56] warmwaffles commented on #99
I had to revert this with ba639cd3815d3a1276c522ac9c80c7eccec92865

It was compiling the code within the source tree, rather than out of tree.

[2021-03-14 17:39] kevinlang opened #102 "Fix on_conflict handling"
We currently have two excluded tags:
[code]

Due to the underlying tests failing. SQLite does support pretty robust on-conflict handling, so we should be able to make these tests pass. See `upsert-clause` at https://sqlite.org/lang_insert.html

[2021-03-14 18:13] kevinlang opened #103 "Fix (composite) foreign key constraint"
For the `:composite_foreign_key` tag, we fail due to the child table FK to the parent table being generated like so:

[code]

Which is completely dropping the other key.

It should instead be something like:
[code]

[2021-03-15 00:45] warmwaffles commented on #103
@kevinlang I have a fix for that to generate the "correct" sql but the error we run in to is

[code]

The SQL generated

[code]

formatting added by me

[2021-03-15 00:52] warmwaffles commented on #103
From the test, here is the SQL run for the migration

[code]

[2021-03-15 01:04] warmwaffles commented on #103
Added a fix for the reference generation here 2c4a7aef7dee45913ce2d645edd443a6c04518aa

[2021-03-15 01:34] kevinlang commented on #103
Yeah for composite foreign key we have to use the `FOREIGN KEY(a,b) REFERENCES` syntax.

https://sqlite.org/foreignkeys.html#fk_composite

[2021-03-15 01:36] kevinlang commented on #103
So it should be something like:
[code]

[2021-03-15 01:52] warmwaffles commented on #103
Ah having the foreign key directive at the end and not inline with the column definition.

[2021-03-15 02:05] warmwaffles commented on #103
This is going to be tricky to support, as we have to put the `FOREIGN KEY` part at the end of the table creation. It can not be mixed in to the definition willy nilly.

[2021-03-15 02:20] warmwaffles commented on #103
We should probably modify the `def execute_ddl({:create, %Table{} = table, columns})` to append all compound foreign key definitions there.

[2021-03-15 04:33] kevinlang opened #105 "Onboard "embed with custom type" test by fixing issue related to Ecto select projection"
This is the last test from `type.exs` that is marked with our `:onboarding` tag.

See notes in #101. I think that Ecto may have an issue where if the query has a `select` for a specific column, it results in the respective loader not getting called, which is why that test is failing. This issue would manifest itself pretty frequently in day-to-day usage if my theory is correct - everytime a specif

[2021-03-15 05:00] kevinlang commented on #105
PR #106 has an example of what I mean. Looks like we don't do sufficient loader invocation when building the query via the table string name (e.g., "users") instead of the Ecto schema (e.g., `User`).

[2021-03-15 13:16] #103 closed

[2021-03-15 14:53] kevinlang commented on #105
Closed in 10706d1

[2021-03-15 14:53] #105 closed

[2021-03-15 21:51] kevinlang opened #108 "Support Ecto.Adapters.SQL.Connection explain_query callback"
No tests for this exist in `ecto` or `ecto_sql`, but it would be something nice to have.

[code]

https://www.sqlite.org/eqp.html

[2021-03-15 21:52] kevinlang commented on #108
Doh, we have this :facepalm:

[2021-03-15 21:52] #108 closed

[2021-03-15 22:08] #94 closed

[2021-03-15 23:39] #96 closed

[2021-03-15 23:42] warmwaffles opened #109 "Verify this compiles on ARM systems"
Currently I have no idea if this will compile and play nice on ARM. In theory it should because nothing is dependent on x86 / x64 specific things.

[2021-03-15 23:48] kevinlang commented on #109
For this and #26 , we could add CI (even if only temporarily)

[2021-03-15 23:49] warmwaffles commented on #109
Does github actions support an arm system for this? I have never set up a CI for ARM before. I've done plenty of rails, django, etc... deployments

[2021-03-16 00:30] kevinlang commented on #26
https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on

Looks like CI has support for running on windows. We can use that in conjunction with https://github.com/erlef/setup-elixir, I think

[2021-03-16 00:38] warmwaffles commented on #26
Excellent. I think we can utilize that.

[2021-03-16 16:15] OldhamMade opened #110 "Description on hex.pm should include "adapter""
Firstly, thanks for open-sourcing this library! SQLite is a great database, especially for smaller applications, and it seems crazy to not have an ecto3 adapter for it in the standard Ecto library.

In order to improve discoverability of this library for the community, I would like to suggest that the description on hex.pm be changed from:

to:

[2021-03-16 19:18] warmwaffles commented on #110
Yea I'll make that change real quick. I have been mulling over the idea of making another package that is just the adapter part to keep this strictly to sqlite.

@kevinlang  is working on getting this inline with `ecto_sql`'s tests and possibly getting it in upstream.

[2021-03-16 19:25] #110 closed

[2021-03-16 19:26] warmwaffles commented on #110
Thanks for the suggest @OldhamMade

[2021-03-16 20:19] warmwaffles commented on #108
Does it work though? @kevinlang

[2021-03-17 01:09] kevinlang commented on #93
Looks like all except the block on `204` pass when run individually.

[2021-03-17 02:46] kevinlang commented on #99
This would be very nice to have, indeed.

[2021-03-17 02:58] #93 closed

[2021-03-17 02:58] #58 closed

[2021-03-17 03:41] kevinlang opened #113 "Upstreaming the ecto-related parts"
I was going to start a new conversation in the elixir-ecto Google group to see what the path forward is for upstreaming most of the ecto related stuff into ecto_sql, now that nearly all of the integration tests are onboarded and stable.

In that scenario, this exqlite repo would mainly contain the core non-ecto driver parts, like the db_connection stuff and the NIF.

Does that sound good, @warmwaf

[2021-03-17 03:42] warmwaffles commented on #113
That's totally okay with me. The only bit that would be staying here would be the `db_connection` implementation.

[2021-03-17 03:46] kevinlang commented on #113
Cool, here is the thread:

https://groups.google.com/g/elixir-ecto/c/Y27uRzCHSRE

[2021-03-17 09:47] lawik commented on #113
I saw that. I hope that isn't too discouraging. I don't think it is really needed to be in ecto_sql to be a good option. Unless I'm missing something.

[2021-03-17 15:35] kevinlang commented on #113
Despite this, I still think it is a good idea to split out the ecto adapter from the actual exqlite driver as we approach 1.0, call it something like `ecto_sqlite3`. It would be nice for the two to be organized under the same Github organization, perhaps we could merge into the `elixir-sqlite` org. :man_shrugging:

[2021-03-17 15:48] warmwaffles commented on #113
So I was thinking about pulling the adapter into `exqlite_ecto`. Possibly keep them both in this repository for now similar to `Nx`.

[2021-03-17 15:51] warmwaffles commented on #113
What are your thoughts on keeping them both in the same repo but under different directories?

[2021-03-17 16:02] kevinlang commented on #113
I think `Nx` uses a single repo similar for the way we do it: for ease of rapid iteration until they hit stable. From the `README`:

[code]

But I think having them as separate projects in the same repo is fine for now. I do think there is always a tradeoff between keeping things well-separated and maintenance/developer ergonomics, and keeping them in the same repo but be separate Mix projects see

[2021-03-17 16:08] warmwaffles commented on #113
When do you think we should split the adapter? My plan is to open another repo, push this repo into it so we keep the history and then delete the parts that don't belong.

[2021-03-17 16:19] kevinlang commented on #113
That sounds like a good plan. I think we can do it whenever.

For naming, some things to consider:
* https://hex.pm/docs/publish - seems to recommend that the package name should be `ecto_{whatever}` since it is an ecto-related package.
* Right now the adapter is `Ecto.Adapters.Exqlite`, but perhaps should be called `Ecto.Adapters.SQLite3`, as it is an adapter for the SQLite3 database that only ha

[2021-03-17 16:26] axelson commented on #109
I've tested this on my Raspberry Pi 3B+ (running nerves). So the basics do work on ARM.

[2021-03-17 16:27] warmwaffles commented on #113
I think I am okay with that plan. We should probably start renaming the adapter now and preparing for that.

[2021-03-17 16:29] warmwaffles commented on #113
The biggest problem is, people are using this adapter now and it will break their projects if they aren't notified / we don't get a proper warning system in place.

[2021-03-17 16:32] warmwaffles commented on #109
Excellent to hear. I may need to stand up an arm system to ensure the test suite runs fine on it.

@axelson were you able to run `mix test` and `EXQLITE_INTEGRATION=true mix test`? Assuming you cloned this repo.

[2021-03-17 16:34] warmwaffles opened #114 "Need to start keeping a changelog"
We should start keeping a changelog and follow https://keepachangelog.com/en/1.0.0/

[2021-03-17 16:53] warmwaffles commented on #102
I actually am having some issues with handling the on conflict stuff.

[code]

[code]

I'll start diving into this today.

[2021-03-17 16:53] axelson commented on #113
I wouldn't think you need to worry about that too much. I doubt there's many people who have integrated exqlite since it is such a new project and well known to be under heavy development, so breaking changes at this stage should be expected. In my opinion, a simple note in the new changelog (https://github.com/warmwaffles/exqlite/issues/114) would be sufficient.

[2021-03-17 16:55] axelson commented on #109
I have not run that, it would actually not be straightforward on nerves because mix is not installed (only uses elixir releases).

[2021-03-17 18:10] LostKobrakai opened #115 "Busy ecto sandbox"
@kevinlang suggested I open an issue here in regards to the ecto sandbox testing.

I just tried my example from a few days ago with 0.3.6 and I still get busy errors using the following intentially crafted example:

[code]

[code]

It seems the reading does actually work, but writing is the issue here.

[2021-03-17 18:40] kevinlang commented on #115
Can you try again with `0.4.8`?

[2021-03-17 18:48] kevinlang commented on #115
Additionally, our adapter does not support `async: true`. This is because SQLite is single-writer. With the sandbox, each test case is wrapped in a transaction, and SQLite will not be able to do anything until that transaction completes (more or less, there is some additional nuance around read vs write transaction). So if two tests are running at the same time, the other will have to wait until t

[2021-03-17 19:49] warmwaffles commented on #115
@kevinlang is there a way we can just raise an error with a more descriptive message if async is used? If anything, we should probably add it to the caveat section in the readme.

[2021-03-17 22:19] kevinlang commented on #113
I started looking into setting up a `ecto_sqlite3` repo.

Any reservations around creating an Organization or merging our efforts into the `elixir-sqlite` org? In either case, I created a simple logo.

![logo](https://i.imgur.com/FZtjPCi.png)

[2021-03-17 22:32] #102 closed

[2021-03-17 22:42] warmwaffles commented on #113
Yea that's fine, we just need access to that org https://github.com/elixir-sqlite/

[2021-03-17 22:46] kevinlang commented on #113
@ConnorRigby, what say you?

[2021-03-17 22:51] warmwaffles commented on #115
@LostKobrakai I also just pushed up another fix `0.4.9`.

[2021-03-17 22:54] kevinlang commented on #115
I tried looking at the ExUnit docs but couldn't find anything that exposes that `async` state. Maybe there is something buried away somewhere in the code that is not documented, though.

[2021-03-17 22:55] warmwaffles commented on #115
Either way, we did a bunch of work since that version and `0.4.9` should solve a lot of issues.

[2021-03-17 23:04] warmwaffles commented on #113
@kevinlang can you shoot me an email at warmwaffles@gmail.com need to co-ordinate how to get you package push permissions and what not.

[2021-03-17 23:13] kevinlang commented on #113
I created an account there `kevinlang`, which you should be able to use to add me via `mix hex.owner add`

Here is the repo of `ecto_sqlite3` (for now, until the Org is configured):
https://github.com/kevinlang/ecto_sqlite3

And here is the Hex package:
https://hex.pm/packages/ecto_sqlite3

I added you @warmwaffles as another owner.

[2021-03-18 00:53] warmwaffles commented on #113
@kevinlang okay I'm going to open a PR here to add a changelog and remove the adapter from this repo.

[2021-03-18 00:54] warmwaffles commented on #113
Also @kevinlang https://twitter.com/pressy4pie/status/1370406636066467840 @ConnorRigby will get us added to that org tomorrow.

[2021-03-18 02:11] #23 closed

[2021-03-18 07:57] LostKobrakai commented on #115
Oh gosh! Sorry about the version used. I meant to use the latest yesterday, but did just blindly `mix deps.update exqlite` and expected it to update to latest.

@kevinlang thanks for the detailed explanation. So essentially the sandbox only provides automatic cleanup, but doesn't really allow for async tests, at best it supports concurrent and maybe somewhat parallel test.

That would be great. my

[2021-03-18 08:17] LostKobrakai commented on #115
Just a thought, but would having completely separate in memory databases be an option? Instead of isolating on the transaction level isolate on the db level?

[2021-03-18 13:20] warmwaffles commented on #115
Also @LostKobrakai we've split the ecto adapter out of this library last night https://github.com/kevinlang/ecto_sqlite3 we are working to get that under the elixir-sqlite organization.

We can't use an in memory database easily for async stuff. The reason is, db connections are opened and closed frequently during tests so you would need to migrate your database before every `test ""`

[2021-03-18 15:52] kevinlang commented on #113
I transfered the `ecto_sqlite3` repo over.

https://github.com/elixir-sqlite/ecto_sqlite3

[2021-03-18 17:44] warmwaffles commented on #113
Just did the same here too

[2021-03-18 17:50] kevinlang commented on #113
Cool. @ConnorRigby do you mind updating the Org logo to what I linked above? I can't since I don't have member permissions.

I'll close this one out for now.

[2021-03-18 17:50] #113 closed

[2021-03-18 18:29] LostKobrakai commented on #115
Thanks for all the information. I guess I'll close this then.

[2021-03-18 18:29] #115 closed

[2021-03-18 19:41] #114 closed

[2021-03-18 21:18] #109 closed

[2021-03-20 13:39] cw789 commented on #26
First "quick" try, by the way I'm no pro in compiling this things.
Probably something with my "Microsoft C++ Build Tools" install is still wrong...

[code]

[2021-03-20 15:24] kevinlang commented on #26
This line at least is a bug in `Makefile.win`:
[code]

The file specifies a `queue.c` that indeed does not exist in the code! Likely an artifact of one of the older sqlite NIFs we adapted. Removing that should fix that issue.

The rest I have no idea. Looking at the `stdarg.h` thing, it seems like that may indicate some sort of misconfigured build tool, see this issue I found:

https://github.com/

[2021-03-20 15:37] kevinlang commented on #26
https://cognitivewaves.wordpress.com/makefiles-windows/

Here is a decent guide. I think our best bet will be to just copy the `Makefile` over into `Makefile.win` and slowly modify it until Windows is happy.

[2021-03-20 15:44] kevinlang opened #120 "Add Windows CI"
Once #26 is fixed, we will want to add a Windows CI to ensure that it stays building properly.

[2021-03-20 16:55] cw789 commented on #26
Thanks.
With `'c_src\queue.c` removed and some tweaks to my build environment it does build. ✔

I'll write a guide for using it on windows, once I have more time to test the build properly.

[2021-03-20 17:47] kevinlang commented on #26
Sweet! Submitting a PR with the changes that fixed it will also be greatly appreciated!

Cheers

[2021-03-22 12:48] cw789 opened #122 "Update GitHub repo "About" section"
As the adapter moved, it should be removed here also.

[2021-03-22 12:55] cw789 opened #123 "Markdown formatting of CHANGELOG"
As the CHANGELOG is written in Markdown syntax (keep a changelog),
we should probably rename it to CHANGELOG.md.
It will make the readability much better within GitHub.

Additionally we then could add it to the docs.

[2021-03-22 13:07] warmwaffles commented on #123
Yea that sounds good. A PR is welcome.

[2021-03-22 13:08] #26 closed

[2021-03-22 13:10] warmwaffles commented on #122
@ConnorRigby can you do this? I do not have permission to modify the about section.

[2021-03-22 13:50] kevinlang commented on #122
Or better yet, give us the permissions required to do so :wink:

[2021-03-22 13:58] ConnorRigby commented on #122
@kevinlang @warmwaffles I've updated both of you all to be `owner`s of the org.

[2021-03-22 13:59] warmwaffles commented on #122
Done. Thanks @ConnorRigby  and thank you @cw789 for bringing that to our attention.

[2021-03-22 13:59] #122 closed

[2021-03-22 14:54] cw789 commented on #120
Reminder for my links in: https://github.com/elixir-sqlite/exqlite/pull/121

[2021-03-22 14:54] #123 closed

[2021-03-23 00:00] kevinlang commented on #120
Blocked by https://github.com/erlef/setup-elixir/issues/12

[2021-03-23 19:30] warmwaffles opened #127 "When connection times out a SIGSEGV is encountered"
For a large table of 66,000 records

[code]

Encounter

[code]

This may be a reason why `esqlite` added bulk fetching rows instead of simply stepping. Although bulk fetching would be nice, the issue arises that an error happens midway through the step, and how to communicate that error back is a bit tricky.

[2021-03-24 01:53] kevinlang opened #129 "Too many SQL variables error"
While cleaning up the benchmarks in `ecto_sqlite3`, I hit this error due to the benchmarks setup code that used `insert_all` hitting this limit.

Two options I can think of:
1. Simply list this as a limitation in the documentation
2. Have Exqlite detect and avoid this case via intelligent batching

FWIW you can see the code that hits this limit by looking at `sqlite.c:101742`

[2021-03-24 02:45] warmwaffles commented on #129
I don't know what the performance implications of bumping that limit up is. We should go look at sqlite3 in ruby to see what it does for active record.

I'd err towards the side of documentation versus bumping the limit.

[2021-03-24 04:14] kevinlang opened #130 "Ensure same SQLITE flags across Makefile and Makefile.win"
I notice that `Makefile.win` does not have any of our SQLite flags that we pass to the Unix equivalent, unless I am missing something. We will want to make sure those are the same for consistency.

[2021-03-24 13:44] warmwaffles commented on #130
I think I should add tests to cover each one of these defines so that way when the windows CI gets set up and running we can have it verified there.

[2021-03-26 03:36] warmwaffles commented on #129
@kevinlang maybe we could figure out a way to support it just being left at default but also allowing someone who knows what they are doing to bump the limit up.

[2021-03-28 16:34] ewildgoose opened #131 "Feature request: DuckDB variant"
Hi, Can in introduce you to "duckdb"

  https://duckdb.org/

I believe that the C api for sqlite can be compiled against duckDB, giving some possibility that this is a straightforward integration? However, I believe that the sql variant that it speaks is postgresql, so I suspect some assumptions may be broken?

My specific use case is that I have an embedded device and need to store some simple ti

[2021-03-29 14:32] warmwaffles commented on #131
@ewildgoose I've actually looked at duckdb and am probably more inclined to make another package specifically for duckdb as opposed to trying to shim it in with exqlite.

[2021-03-30 01:22] kevinlang commented on #131
The nice thing is that if we get a `db_connection`-powered driver set up, we should be able to just adapt the existing `Ecto.Adapters.Postgres` code to use that and get most the the Ecto part of the equation "for free", if I'm understanding correctly.

I agree that it would be best in another package.

[2021-04-02 08:23] gzzengwei opened #133 "`(Exqlite.Error) near "RETURNING": syntax error` when creating new record"
First of all thank you for writing this lib

I follow the README on `ecto_sqlite3` and I run into this error `(Exqlite.Error) near "RETURNING": syntax error` when I want to create record with Ecto.

sqlite3 version: `SQLite version 3.35.3 2021-03-26 12:12:52`
phoenix version: `1.5.8`

[code]

and modify the `mix.exs` with following
[code]

and run the `mix ecto.create/mix ecto.migrate/mix compile`

[2021-04-02 12:48] RickCarlino commented on #133
Yesterday I did an exploratory attempt to add this library to [an existing project that uses the legacy Elixir SQLite libs](https://github.com/FarmBot/farmbot_os/) and hit a similar error. I can pull up specific information if it is helpful.

[2021-04-02 14:11] kevinlang commented on #133
Was able to repro this with the steps you gave - thanks for the detailed report!

The statement itself has no problems, as I'm able to use it locally with `sqlite3` which is above `3.35.0`.

If I look at my `mix.lock` file I see:
[code]

Which is the latest of both dependencies. HOWEVER, if I look into `deps/` folder I see under `deps/exqlite/` that the amalgamation is... `3.34.1`! What gives??

[2021-04-02 14:14] kevinlang commented on #133
Looks like this PR was incorrect:

https://github.com/elixir-sqlite/exqlite/pull/132/files

When reviewing I did not catch it actually _lowered_ the amalgamation to `3.34.1`.

I'll bump it up back to 3.35.3 and issue a new release. That should fix the issue

[2021-04-02 14:31] kevinlang commented on #133
Published `0.5.6` which has amalgamation correctly at `3.35.3`, see #134

I can confirmed in my local phoenix app I created with the repo steps above, if I run `mix deps.update exqlite` and re-run the above, everything works as expected now:

[code]

[2021-04-02 14:32] #133 closed

[2021-04-02 14:32] kevinlang opened #135 "Add simple version test"
See #133 .

Could be as simple as running `select sqlite_version();` and ensuring it is above a certain value :)

[2021-04-02 17:18] warmwaffles commented on #135
Yes this is something we definitely should do

[2021-04-02 17:42] warmwaffles opened #136 "Extension loading"
I want to look into loading an extension or two from this following repository

https://github.com/nalgeon/sqlite-plus

Specifically the unicode upper and lower support. But I would love to figure out if we can support extension loading and maybe ship a way to load them. Whether it be through adding an extra dependency something like `exqlite_unicode_ext` that we provide some loading hooks.

Thoug

[2021-04-03 03:20] kevinlang commented on #136
I think that is worthwhile to add. I can't think of a great way to do it off the top of my head, though.

One idea:
1. Add ability to configure `exqlite` a list of modules that subscribe to some interface, a method of which could be called to get the path to the relevant `.so` or `.dll` that is created during module compilation. The user would add those hex libraries as dependency and wire them up

[2021-04-03 13:04] warmwaffles commented on #135
It also may be worth adding the sqlite version in a public method on the mix file and building a quick download script to update the amalgamation file.

[2021-04-05 04:12] kevinlang opened #138 "Database is locked investigation"
I still see this now and again in tests, and generally only when the Repo is first set up and connections are getting initialized.

I added a line to `Sqlite3.execute` to log the SQL when it hits an error from the NIF, and was able to find that the error is only hit when the `PRAGMA JOURNAL_MODE=WAL` statement is executed.

My initial thought around this issue was it being an issue around _opening

[2021-04-05 13:19] warmwaffles commented on #138
So I was actually thinking about this the other day.

When `WAL` is enabled, it stays enabled even after the sqlite handle is closed. So what we _could_ do is work in a check and set method instead of just blanket setting everything.

[2021-04-06 13:01] #130 closed

[2021-04-07 01:29] kevinlang opened #143 "maybe_set_pragma always fails for journal_mode"
It compares `"'WAL'"` with `"wal"`, which will never succeed, for example.

Repo steps:
1. Modify `maybe_set_pragma` to include this line:
[code]
2. `iex -S mix`
3. `iex> Exqlite.Connection.connect(database: "test.db")`
4. Observe results

[2021-04-07 03:32] #143 closed

[2021-04-07 13:29] kevinlang commented on #138
With that PR and also with https://github.com/elixir-sqlite/ecto_sqlite3/pull/25 I no longer see this issue. I think we found the root cause and have the fixes in place, closing.

[2021-04-07 13:29] #138 closed

[2021-04-15 16:12] warmwaffles opened #144 "Expose online backup api"
This is an  interesting page I ran across today and may be beneficial if we can figure out how best to expose the backup api

https://www.sqlite.org/backup.html

[2021-04-15 16:17] warmwaffles commented on #144
We can utilize the `VACUUM INTO` but the problem is, if the DBConnection uses it, the connection execution would time out.

[2021-04-18 18:04] kevinlang opened #145 "Show Error :statement in message string"
Hit an issue where my DDL was incorrect. The Ecto/db_connection/etc machinery only logged the `:message` of the `Error` struct, which did not have enough information.

I ended up patching the `Error` struct to have this:

[code]

Thoughts?

[2021-04-19 18:21] warmwaffles commented on #145
Yea let's do that. It'll save a lot of issues for us.

[2021-04-19 22:40] #145 closed

[2021-04-28 16:00] rupurt opened #147 "`update_all` with select raises error when no rows are updated"
The ecto spec for `Ecto.Repo.Assoc.query` expects a list of rows but currently the `ecto_sqlite3` adapter returns `nil` when there were no rows updated from the query.

https://github.com/elixir-ecto/ecto/blob/master/lib/ecto/repo/assoc.ex#L10

This results in the following error:

[code]

P.S. Thank you so much for making this adapter! I looked into creating it a year ago but didn't know where to

[2021-04-29 14:52] kevinlang commented on #147
https://stackoverflow.com/questions/928865/find-sqlite-column-names-in-empty-table

It looks like our solution will not be as clean as the Postgrex one. As far as I can tell SQLite3 itself does not differentiate too well between the two "empty returnset" and "no returnset" cases...

[2021-04-29 15:36] rupurt commented on #147
@kevinlang thanks for looking into this so quickly.

FWIW `update_all` with select works as expected when >= 1 row was updated. It's just the 0 rows updated case that is throwing the error.

I need the select for my feature so the way I've worked around it for now is to `try/rescue`. It's a total hack but does the job...

[code]

[2021-05-02 21:51] #147 closed

[2021-05-03 13:30] warmwaffles opened #149 "Use sqlite3_open_v2"
We can specify a read only flag, which would be extra helpful for an ecto repo that has a flag set to `readonly`. This would ensure that if a bug is introduced upstream we'd have the lower level block the write.

https://www.sqlite.org/c3ref/open.html

[2021-05-07 08:10] lawik commented on #144
Have you looked at Litestream? I wonder if that runs on that API or other parts.
https://litestream.io/

I've been planning on setting up something to make sure Litestream runs to replicate Sqlite data as part of an Elixir application. I think doing what Litestream does, well, is probably challenging enough that I wouldn't bother porting it and would rather use it.

Just thrilled to have streaming

[2021-05-07 14:37] warmwaffles commented on #144
Yea litestream is cool, but what I was thinking about was something for embedded systems to utilize and backup stuff without being connected to the internet.

I am unsure of litestream's ability to run on micro controllers.

[2021-05-07 14:53] lawik commented on #144
I would expect litestream to do nicely in that case too (at least Raspberry Pi grade) but it does want something shaped like S3 to shove the file at and that implies an internet connection.

Just wanted to make sure you knew of it. If you have need of the Backup API, go forth :)

[2021-05-16 22:01] greven opened #150 "Failing to build on Windows"
Hey guys, first and foremost, thanks for the project!
I have a new project that unfortunately... is supposed to be deployed on Windows. SQLite is a great fit for this project as I want to create a release with everything "embedded".

The problem is I'm having issues building `exqlite` on Windows.

I already had nmake and the C++ build tools installed, but I made sure to follow the Windows guide ju

[2021-05-16 22:06] kevinlang commented on #150
cc @cw789 who may be able to help

this also looks like it may be useful: https://elixirforum.com/t/error-compiling-bcrypt-elixir-and-argon-elixir/22443/4

other than that, don't know as I don't have a Windows environment to play with.

[2021-05-16 22:08] kevinlang commented on #150
also look at https://github.com/elixir-sqlite/exqlite/pull/121/files . it looks like the bug cw789 hit was very similar in #26 , and he described how he got it to build in that bit of documentation

[2021-05-16 22:56] greven commented on #150
Hi Kevin, thanks.
I've followed the Windows guide you linked, still no cigar. :/
I know this is probably nothing to do with the library itself, but maybe someone is experience issues building in Windows too (it compiles fine in Linux and MacOS, as I've tried).

[2021-05-16 23:01] kevinlang commented on #150
Maybe. It may be that our `Makefile.win` needs some more tuning.

Can you try compiling/running a well-known NIF, like perhaps https://github.com/riverrun/argon2_elixir ? If that hits a similar error, then we know it is your dev environment for sure.

[2021-05-16 23:19] greven commented on #150
Good idea.
Argon compiles fine using the x64 Native Build tools.

[code]

[2021-05-17 04:05] warmwaffles commented on #150
Can you humor me and install `v0.5.11`? We added those serialize and deserialize function calls here https://github.com/elixir-sqlite/exqlite/pull/148/files

[2021-05-17 09:34] greven commented on #150
Hi, Mathew,

That version does indeed compile well. I created a project just with exqlite a the dep, set it to 0.5.11 as you suggested. Compiles fine on Windows!

[code]

[2021-05-17 15:51] warmwaffles commented on #150
For now, pin to the latest working version and I'll see if I can get my windows machine setup for elixir dev and figure out what is going on.

[2021-05-17 17:27] greven commented on #150
Guess we can close this as #151 Solves it!
Thanks for the quick response on this and quick fix! You guys rock! I was getting desperate thinking it was my build system as... on Windows is not a rare occurrence!

[2021-05-17 17:27] #150 closed

[2021-05-17 17:28] warmwaffles commented on #150
I'm cutting a release for 0.6.1 as we speak.

[2021-05-25 17:00] warmwaffles opened #152 "Prepare for upgrade to 3.36.0"
https://sqlite.org/releaselog/3_36_0.html

We can remove `-DSQLITE_ENABLE_DESERIALIZE` since that will be enabled by default now.

[2021-06-01 06:41] rupurt opened #153 "Performance issues / possible memory leak"
Howdy :wave:

I'm in the process of converting a market making trading system that creates many orders from ETS to Ecto. I plan on supporting any database that Ecto currently has support for, but I've started with SQLite because I want to be able to distribute it without any external dependencies.

SQLite is probably not the best choice for this kind of system due to the high number of writes. But

[2021-06-01 14:10] kevinlang commented on #153
In my experience and benchmarks, if you don't have a need for multiple nodes or long-running (write) transactions, SQLite3 will generally be faster than Postgres and the like, due to lack of client/server overhead. Most of the bad reputation is due to SQLite3 not having WAL on by default due to backward compat concerns.

Thanks for this data. I have a feeling we are not cleaning up statement objec

[2021-06-01 14:17] warmwaffles commented on #153
It could be the prepared statements not having their destructors called when the reference count goes to zero. Very odd. I'll take a look later in the day but that's what I have a feeling is happening.

@kevinlang it _could_ also be that we aren't free'ing some binary data for sql statements. I haven't noticed any crazy amounts of memory climb in my apps, but if @rupurt is issuing a ton of updates

[2021-06-01 14:36] kevinlang commented on #153
That's a good point. Most of the anecdotes I read about GC issues in BEAM usually come down to large binaries causing an issue. If I have time I'll try to look into that.

@rupurt can you comment more on the "lock up" issues? I think that may be a separate issue. Is the VM itself locking up (due to memory issues) or just the database? Typically for the latter you should get an error message - what

[2021-06-01 14:48] rupurt commented on #153
Cool. Thanks gents for looking into it so quickly. Interesting to know about the performance. I'm only basing that on what I hear from other folks, so that encourages me to keep pushing forward with the current strategy :)

The "lock up" problem isn't a deadlock. I've run into deadlocks in the past but they were problems with my code.

The "lock up" behavior I'm seeing now is not a total VM lock.

[2021-06-01 14:52] warmwaffles commented on #153
@rupurt do you have a chart of the number of queries executed along with the memory usage? I'm just wanting to get a sense of the volume.

[2021-06-01 16:03] rupurt commented on #153
@warmwaffles I don't. But that does sound handy so let me figure out if I can add one. I'll also post the logs for the timeout error on this next run.

[2021-06-01 22:50] rupurt commented on #153
This is the error I get

[code]

[2021-06-03 01:56] warmwaffles commented on #153
I've been walking through the nif code and can't spot any egregious leaks.

I wonder if the statements are never being free'd because something is still holding a reference to it.

[2021-07-27 18:02] kevinlang commented on #120
Looks like this is unblocked now.

https://github.com/erlef/setup-beam/issues/51

[2021-07-28 13:40] warmwaffles commented on #120
Oh this is awesome.

[2021-08-10 15:05] kevinlang opened #154 "Automatically close prepared statements after execute"
Right now we rely entirely on NIF destructor calling behavior which is apparently unreliable for cleaning up our queries/statements. One thing I see the `myxql` driver do is automatically close any unnamed queries after `execute`.

As part of this we can change our implementation of `handle_close` to actually close the query given.

[2021-08-10 16:28] warmwaffles commented on #154
I think that is fine. It should not affect the streaming implementation since `handle_close` isn't called until it's done.

Is there a thread or bug report to link to for this? I'm interested in it because if I make another NIF in the future, I'd like to know.

[2021-08-10 19:06] kevinlang commented on #154
I think unreliable was the wrong word - I think "not immediate" is the better phrasing.

This link is a good one:
http://erlang.org/pipermail/erlang-questions/2020-November/100150.html

reclamation path

(emphasis mine)

[2021-08-11 02:31] warmwaffles commented on #154
Interesting. Good to know.

[2021-08-17 22:08] jjcarstens opened #156 "argument_wrong_length with fragment"
Via `exqlite 0.6.1`

This could be a case of _"I dont know what I'm doing"_, but I can't seem to get past this error when trying to us a fragment and pinned variable in a query:

[code]

Error:

[code]

But if I hardcode the values, it works:

[code]

[2021-08-17 22:26] kevinlang commented on #156
Can you try

[code]

I think that will work.

https://stackoverflow.com/questions/24462631/how-to-use-in-sqlite-prepared-statements-for-android

[2021-08-17 22:28] kevinlang commented on #156
Alternatively I think you can do something like

[code]

Not sure though. Essentially SQLite is not going to inject the parameter into any string directly.

[2021-09-04 14:23] mindreframer commented on #152
@warmwaffles here one helper script: https://github.com/elixir-sqlite/exqlite/pull/159

[2021-09-04 18:07] #152 closed

[2021-09-06 01:31] warmwaffles commented on #152
Excellent, thanks @kevinlang and @mindreframer for making this happen.

[2021-09-08 09:20] #136 closed

[2021-09-09 12:12] mindreframer opened #161 "[BUG] Closing an already closed connection kills the Erlang VM"
Code to reproduce:

[code]

It would be nice to handle this situation more gracefully.

[2021-09-09 13:45] warmwaffles commented on #161
In this

https://github.com/elixir-sqlite/exqlite/blob/096e0c2ddf32235dab774a3492f731952deff4a2/c_src/sqlite3_nif.c#L165-L172

I think we can just wrap it with

[code]

I don't really have time at the moment to test this closely but it _should_ in theory work. And we also need a test case for a double close. I thought we had one.

[2021-09-09 14:32] mindreframer commented on #161
@warmwaffles Thanks for the hint. This particular code did not work, because we try to access a NULL-ed DB before  in this line:
[code]
I just return early, if conn->db is NULL before doing anything further with it.

[2021-09-10 12:48] #161 closed

[2021-09-14 01:24] warmwaffles opened #165 "Add arm / android compilation strategy to ci workflow"
Would be nice to see this compiled for ARM at minimum and then have an Android compilation

[2021-09-14 06:43] lawik opened #166 "Concerning warning compiling under Nerves"
Is this something to worry about?

[code]

I haven't tried it yet, maybe it works, I'll update as I do.

[2021-09-14 13:02] warmwaffles commented on #166
Need some details, is the system a 64 bit system or 32? because that is a 32 bit compiled ELF file. Looks like I need to get #165 done sooner rather than later.

[2021-09-14 14:36] lawik commented on #166
Building for an Rpi0 in this case. Should be 32 bit.

[2021-09-14 20:44] #120 closed

[2021-09-30 14:15] lawik commented on #166
It seems to work fine ... :)

[2021-10-06 06:05] thomastay commented on #129
Ran into this today. The limit is well documented in point 9 here: https://sqlite.org/limits.html, but exqlite seems to hit this error below the 32k variable limit somehow. There's also supposedly a way to reduce this limit at runtime, which might complicate how we might want to expose this.

[2021-10-06 18:58] warmwaffles commented on #129
@thomastay curious what were you doing to hit that limit? bulk inserting?

[2021-10-13 13:17] warmwaffles commented on #166
@LostKobrakai is it ARM32?

[2021-10-13 13:40] warmwaffles commented on #166
Is that the same as a ARM Cortex-A72? I've got a spare raspberry pi compute module 4 that I've been needing to setup and I could probably use the push to make it happen.

[2021-10-19 14:29] ewildgoose opened #169 ""error: no such column" on complex "conflict target""
Hi, running this the following in the console is accepted:
[code]

However, when run through exqlite I get an error:
[code]

The database definition is as follows:
[code]

What I'm trying to achieve is a situation where I have a unique constraint on multiple device_id/sim_id pairs, including the case that sim_id is nil (the default case for sqlite is that uniqueness is not enforced for columns whi

[2021-10-19 21:15] warmwaffles commented on #169
@ewildgoose https://github.com/elixir-sqlite/ecto_sqlite3/pull/59 that PR is a fix for this ya?

[2021-10-20 07:55] LostKobrakai commented on #166
I've put the example project on github. It seems on linux (CI) I get the error @lawik was talking about:
https://github.com/LostKobrakai/nerves_repro/runs/3948776011#step:7:130

[2021-10-20 13:52] warmwaffles commented on #169
Exqlite is just a driver library. It doesn't do the SQL generation. That is done by `ecto_sqlite` so we need to resolve the issue there. I'll check that PR out later this evening and do some poking.

[2021-10-20 14:48] ewildgoose commented on #169
Hi, I think I'm explaining myself badly. I generate a bunch of SQL "by hand". This SQL functions when run directly in the sqlite cli. However, near identical SQL returns an error when passed into Exqlite.Sqlite3.prepare(conn, "hand generated SQL")

The ecto_sqlite change simply allows me to get to the point of finding myself blocked here. However, checking your library code suggests that "Exqlite.

[2021-10-20 15:17] warmwaffles commented on #169
That's a good question. I didn't fully read the part about running it in the `prepare` part.

Can you copy paste the sql schema for the table? So I can poke around in iex.

[2021-10-21 07:26] LostKobrakai commented on #166
Warning is gone and running the fw built works as well. So seems to be solved from my side.

[2021-10-25 04:02] hxgdzyuyi opened #171 ""error :sql_not_iolist" on use `Exqlite.Sqlite3.execute` insert emoji"
example code:

[code]

output

[code]

elixir version: Elixir 1.10.2 (compiled with Erlang/OTP 22) / Erlang/OTP 22 [erts-10.7.2.12] [source] [64-bit] [smp:12:12] [ds:12:12:10] [async-threads:1] [hipe]
system: Darwin Kernel Version 19.6.0

Thanks!

[2021-10-25 10:41] ewildgoose opened #172 "Disable debug (or strip binary)"
Hi, I see at the top of the makefile we have:

CFLAGS ?= -g

The output binary for me (on arm32bit) is
  9398756 Oct 16 16:51 lib/exqlite-0.6.4/priv/sqlite3_nif.so

However, after stripping I get:
  1589804 Oct 25 10:39 lib/exqlite-0.6.4/priv/sqlite3_nif.so

I'm building to a semi-embedded type system, so this is quite a considerable disk saving.

Would you consider making the stripped, non debug

[2021-11-26 11:38] leorodriguesrj opened #174 "I'm seeking some guidance on using exqlite under termux"
G'day! I'm trying to use exqlite in a project running on [termux](https://github.com/termux/termux-app).

While running `mix deps.compile`, the process fails to load the NIF module because the symbol `trunc` is not found. The following warning message is displayed when I run `mix test` at the root of the exqlite repository after cloning:

[code]

I'm supposing there is a missing library in my syst

[2021-11-28 22:49] warmwaffles commented on #174
@dominicletz maybe you can shed some light on this.

@leorodriguesrj I think you'll need to `export CROSSCOMPILE=Android` in order to get the correct symbols generated https://github.com/elixir-sqlite/exqlite/blob/main/Makefile#L38-L45

[2021-11-29 13:18] dominicletz commented on #174
Interesting message on `trunc`. On Android generally, the CFLAG=`-z global` is important because of Androids' different treatment of dlopen scoping.

But in this case it could also just be a compiler version issue. The `trunc` method is defined in sqlite3 only when it's detected during compilation:

[code]

I don't know which compiler and standard library termux is using, but maybe there is a prob

[2021-11-29 14:36] leorodriguesrj commented on #174
@dominicletz The LDFLAGS solved the the problem. I am now facing a different issue since ExSqlean is compiled to EM_X86_64 instead of EM_AARCH64. At the moment I'm trying to compile ExSqlean with the correct architecture and if I manage to do that, how do I get the new version of ExSqlean to be used by exqlite? Is there a way to trigger it's compilation?

[2021-11-29 14:40] warmwaffles commented on #174
@leorodriguesrj `ex_sqlean` is really only for `dev` and `test` not necessary for downstream use.

[code]

@mindreframer might want to chime in here and see if they can support android compilation

[2021-11-29 14:48] leorodriguesrj commented on #174
@warmwaffles Great! I have my main project working correctly!

[2021-11-29 15:15] warmwaffles commented on #174
@leorodriguesrj good to hear!

[2021-11-29 15:15] #174 closed

[2021-11-30 04:55] fire opened #175 "Update to sqlite 3.37"
version 3.37.0. has support a strict mode I want to use.

[2021-11-30 05:05] fire commented on #175
Copying https://www.sqlite.org/2021/sqlite-amalgamation-3370000.zip seem to work as expected.

[2021-11-30 13:24] warmwaffles commented on #175
@fire there is a script that will do all this for us :D https://github.com/elixir-sqlite/exqlite/blob/main/bin/download_sqlite.sh

Since I have time this morning I'll knock that out.

[2021-11-30 13:49] #175 closed

[2021-12-02 14:56] warmwaffles commented on #172
@ewildgoose since we disabled debug in the build now by default I think this issue is closed. However, the issue of possibly using OS provided sqlite3 is a tempting proposition for me.

[2021-12-02 14:56] warmwaffles commented on #171
@hxgdzyuyi I still have not looked into this properly yet. I have not forgotten.

[2021-12-03 20:18] SpirosMakris commented on #171
Same thing here when running a raw SQL query with `Repo.query(q)`:
[code]

It works fine without the Greek characters but same error as @hxgdzyuyi when unicode letters are present.

Thanks!

[2021-12-03 20:22] ewildgoose commented on #172
I agree that we can close the debug issue. Thanks!

I want to use this in an embedded environment, and this would be a big space saving for me to dynamically link to the OS provided libs. What can I do to help/sponsor this, etc?

(Also if wishes were free, I am quite excited by the "STRICT" tables feature of the most recent release:
https://www.sqlite.org/releaselog/3_37_0.html - what if anything

[2021-12-03 21:02] warmwaffles commented on #172
@ewildgoose doing that is quite an undertaking for `ecto_sqlite` as we would not be allowed to use `TEXT_DATETIME`.

We had some discussion here but I am unsure of the extent that it can be integrated https://github.com/elixir-sqlite/ecto_sqlite3/issues/60

[2021-12-03 21:05] warmwaffles commented on #171
Alright, over the weekend I'll take a deeper dive into this. It sounds like a unicode issue where once it is present in the charlist, the list becomes something else in the C land.

[2021-12-03 21:13] warmwaffles opened #178 "Allow linking with system library"
What I would like to do is provide the consumer the possibility to link against the sqlite3 binary from the OS or to compile it directly.

I'm thinking maybe doing `EXQLITE_USE_SYSTEM=1` as the environment variable to use for that.

Another solution would be to completely toss the code and make it a requirement that the consuming system has the library installed.

[2021-12-03 21:59] #171 closed

[2021-12-03 22:03] warmwaffles commented on #171
@hxgdzyuyi and @SpirosMakris try pulling down the latest version `v0.8.1` and let me know if your issue has been resolved.

[2021-12-03 23:31] SpirosMakris commented on #171
Hey @warmwaffles. I tried v0.8.1 and it works in an `execute`:
[code]

but not in a 'prepare' (which I believe is what should be used in a query?):
[code]

Thanks for looking into this!

[2021-12-04 07:50] SpirosMakris commented on #171
Hi @warmwaffles .
After some digging it seems to work if I replace:
[code]
in `sqlite3.ex` line 65 with
[code]
Same thing you did for `execute` for version 0.8.1.
No changes to nif glue code seem to be necessary.

Cheers!

[2021-12-04 14:19] warmwaffles commented on #171
Yea I forgot that execute and prepare do not go through the same code path.

[2021-12-04 14:23] warmwaffles commented on #171
@SpirosMakris just fixed it and updated in `v0.8.2`

[2021-12-04 16:16] SpirosMakris commented on #171
Just tested it and it works fine.
Thanks @warmwaffles!

[2022-01-19 16:37] LostKobrakai opened #185 "Settings HAVE_USLEEP flag on *nix systems"
While looking into improving concurrent writes with sqlite I noticed that sqlite is compiled without the `HAVE_USLEEP` flag, which means sqlite's busy resolution sleeps for a second between retries, which means for the default `busy_timeout` of `2000`(ms) one will get 2 retry attempts before getting a busy response, even if between those attempts the db might have been idle'ing. It seems the `usle

[2022-01-19 17:17] LostKobrakai commented on #185
A quick discussion on slack confirmed this being fine on nerves systems.

[2022-01-19 18:41] warmwaffles commented on #185
@LostKobrakai yea it sounds good to enable that. I can do the PR or you can. It should be pretty easy to add to the makefile for both linux and windows.

[2022-01-19 18:42] warmwaffles commented on #185
Maybe need to do a preflight compile check for `have_usleep` like autoconf does.

[2022-01-19 18:45] warmwaffles commented on #185
https://www3.sqlite.org/cgi/src/file?name=Makefile.linux-gcc&ci=3ed6eb2fab5d9570 a template for linux-gcc.

[2022-01-19 18:45] LostKobrakai commented on #185
I'm not sure how this interacts with windows. An actual check would be great, but that's for sure beyond my capabilities of dealing with C/Makefiles :D

[2022-01-19 18:45] warmwaffles commented on #185
Haha, I'll take a look then, not a problem

[2022-01-19 19:09] warmwaffles commented on #185
Enabled by default now https://github.com/elixir-sqlite/exqlite/commit/8dbf88b49ea4dd9d3779bc9b4d15b4277f9f0ac0

[2022-01-19 19:09] #185 closed

[2022-01-19 19:15] mdwaud commented on #185
Thanks for the quick turnaround, @warmwaffles! This'll be a big help.

[2022-01-19 19:37] warmwaffles commented on #185
No problem. I'd love to see any benchmarks you come up with as a result of having this enabled.

[2022-01-21 21:03] #178 closed

[2022-01-21 21:27] warmwaffles commented on #172
@ewildgoose you can now use the system installed libraries instead of compile sqlite from source https://github.com/elixir-sqlite/exqlite/pull/186

[2022-01-21 21:31] #172 closed

[2022-01-28 10:49] LostKobrakai opened #190 "Segfault when exceeding DBConnection timeout"
I was debugging a sudden reboot on our nerves system with a expensive query. I had the memory usage and OOM in mind, but today I found out that raising the timeout actually makes the query succeed (no reboot). Making the timout be exceeded on my local machine I could reproduce the issue and even get the seg fault message (see below). I don't think the query matters for as long as the timeout is ex

[2022-01-31 13:52] LostKobrakai commented on #190
I just saw this one, which is probably related: https://github.com/elixir-sqlite/exqlite/issues/127

[2022-01-31 13:54] warmwaffles commented on #127
We do multi-stepping when fetching. It was simply too slow to fetch individual rows and return back to vm.

[2022-01-31 13:57] warmwaffles commented on #127
https://github.com/elixir-sqlite/exqlite/blob/0008856078f48fc9a56e8a693bb5805fb8e9fa7f/lib/exqlite/sqlite3.ex#L119-L149

which is called from

https://github.com/elixir-sqlite/exqlite/blob/0008856078f48fc9a56e8a693bb5805fb8e9fa7f/lib/exqlite/connection.ex#L565-L573

and consumed by

https://github.com/elixir-sqlite/exqlite/blob/0008856078f48fc9a56e8a693bb5805fb8e9fa7f/lib/exqlite/connection.ex#L50

[2022-01-31 14:06] LostKobrakai commented on #127
@warmwaffles I'm seeing a segfault while the NIF is running multi_step (https://github.com/elixir-sqlite/exqlite/pull/191) when the outer db connection timeouts. So something seems to still be off, even with returning things to elixir in small chunks.

[2022-01-31 14:09] warmwaffles commented on #127
@LostKobrakai were you able to change the chunk size and still get the same error? Just trying to collect as much info as I can.

[2022-01-31 14:10] warmwaffles commented on #127
Also, how big do you think on average each one of those 66,000 records are?

[2022-01-31 14:14] LostKobrakai commented on #127
I tried running the test in the PR I linked with chunk_size (1, 10, 1000, 10000) and it succeeded for the latter two. But increasing the number of records from 10k to 50k made it segfault again for all chunk sizes.

[2022-01-31 14:22] warmwaffles commented on #127
@LostKobrakai look at the version you are running in that stack trace `(exqlite 0.5.1)` Are you on the latest version?

[2022-01-31 14:23] warmwaffles commented on #127
Oh wait, that's my stack trace, derp.

[2022-01-31 14:56] warmwaffles commented on #127
Hah, yea completely forgot I made this ticket to begin with. I had a case where I had a ton of time series data stored and retrieving it was difficult.

[2022-02-02 16:38] warmwaffles opened #192 "Replace DirtyNIF execution model with threadpool"
The dirtynif execution model is okay for most cases, but we have an issue where long running writes need to timeout / be interrupted mid execution and aborted. The only way to do that is to utilize https://sqlite.org/c3ref/progress_handler.html

[2022-02-02 17:15] #127 closed

[2022-02-18 10:30] lauragrechenko commented on #153
@warmwaffles @kevinlang
Hi,
I'm a little bit out of ideas.. Maybe you could help
In our project we have a process which reads 1000 entries from Sqlite DB, validates them and then reads next 1000. The DB could be really big, so the process can do it for a long period of time.

Now K8s shows that our pod uses all memory 5 GBs. Attached a screenshot
But the node (recon_alloc) says:
allocated 1.2Gbs
u

[2022-02-18 14:07] warmwaffles commented on #153
I don't know if kevin is going to be helping anymore, he's been pretty silent for the last few months. I am however going to take a look at this again.

Side note, this is news to me.

[code]

Does that actually set the environment values during compilation?

[2022-02-18 15:01] lauragrechenko commented on #153
Thanks a lot.
Could I help some how to debug it?

About DSQLITE_DEFAULT_JOURNAL_SIZE_LIMIT. It seems so.
We change it in mix.exs and in dockerfile like this:
ENV CFLAGS="-c -O2 -DSQLITE_DEFAULT_JOURNAL_SIZE_LIMIT=104857600"
and the limit is 100 MB.

[2022-02-18 15:26] lauragrechenko commented on #153
Each node has Sqlite DB.
On all nodes writing is happening: ~100 entries every 2 seconds.
On this node, where you pointed, I started a process which reads and validates 1000 entries.
So on "pink" node writing is happening every 2 seconds and reading 1000 entries.

[2022-02-18 15:52] LostKobrakai commented on #153
Just to clear up some potential confusion here. NIF memory usage is not tracked by the erlang vm unless specifically hooked into it. So it's expected to not see erlang report the memory usage of sqlite. This does however not mean that there's no memory leak.

I've seem some stange behaviour this week around a large delete query causing reboots in our nerves system though, which I'm not yet sure ab

[2022-02-18 15:52] warmwaffles commented on #153
Are those 100 entries being written in batches or sequentially? If they are happening sequentially, it may not be full filling all of the writes in time and slowly backing up.

Do you know how big the database is on each node?

[2022-02-18 16:01] lauragrechenko commented on #153
For writing we use Ecto.Repo.insert_all/3.
The limit for writing 1 batch is 1000 entries.

But I can stop all writing, it's only reading by this 1 process. And it's the same - memory grows.
I even turned off validating data, just reading 1000 entries, sleep for 1 sec and read next part.

[2022-02-18 16:36] warmwaffles commented on #153
I need to look into using a custom memory allocator for sqlite to use erlang's machinery so we can get some better telemetry on it. And add telemetry to exqlite in general.

[2022-02-18 17:34] rupurt commented on #153
@warmwaffles the memory leak from my initial post was 110% my own crappy application code :)

I was cancelling and creating many orders. The orders that were cancelled were in their final resting state. So I just cleared out the callbacks for those orders as they should never get executed.

[2022-02-21 08:48] laszlohegedus commented on #153
Yes, it does. :) It's kind of hack-ish, but couldn't do it any different way.

[2022-02-21 12:31] lauragrechenko commented on #153
@warmwaffles Hi
I found something interesting.
When I don't do a lot of reading but just select 1 page I got the same result with memory.
What I did:
[code]
The code for select_page I wrote above.
And memory is:
<img width="1201" alt="image" src="https://user-images.githubusercontent.com/75909645/154955445-3328b46c-cf36-443c-86db-f83f44634aa2.png">

[2022-02-21 14:10] warmwaffles commented on #153
This is a decent option that I'll need to add to the documentation so others can utilize it if they want to enable / disable features when compiling sqlite.

[2022-02-21 14:11] warmwaffles commented on #153
@lauragrechenko I haven't forgotten about this, I just did not have time this weekend to dig into it more. I'm going to build a benchmarking / load testing suite soon to try and pin point the issue.

[2022-02-21 14:26] lauragrechenko commented on #153
@warmwaffles Sorry for wasting your time. I think we can close the issue.
I'm testing it now but I think we found an issue in usage Sqlite with a limit, offset.
The issue is "By doing a query with a offset of 95000, all previous 95000 records are processed".

Maybe it'll help someone:
https://stackoverflow.com/questions/12266025/sqlite-query-optimization-using-limit-and-offset

[2022-02-21 14:42] warmwaffles commented on #153
Heh, I still need to build a good benchmark and test suite along with adding better telemetry for memory usage and what not.

[2022-02-21 15:15] #153 closed

[2022-02-22 02:26] warmwaffles commented on #153
@lauragrechenko I've opened a PR [here](https://github.com/elixir-sqlite/exqlite/pull/193) to utilize a custom memory allocator for sqlite. If you could give it a run in your environment for tests or something, feedback would be extremely welcome.

[2022-02-22 10:41] lauragrechenko commented on #153
@warmwaffles
Thanks. I'll try it today.
Because we still can see memory is growing, not so significantly as on the
 screenshot above but still growing on all nodes.. and Erlang node still says it doesn't allocate so much memory
<img width="788" alt="Screenshot 2022-02-22 at 11 40 52" src="https://user-images.githubusercontent.com/75909645/155115928-e2b984c4-1f9a-4304-bfc1-b746ada5b5c7.png">

[2022-02-24 15:34] lauragrechenko commented on #153
@warmwaffles
Thanks a lot.
Yeah, we couldn't start it but today I took your PR and a fix from @laszlohegedus.
I'm already running tests, it's been only for 2 hours, so in a few more hours I can say about current "memory usage".

[2022-02-25 10:51] lauragrechenko commented on #153
@warmwaffles
Hi, the memory looks just fine now. Thanks a lot

[2022-03-29 15:01] alanj853 opened #196 "Unable to handle BIGINT on 32 Bit arm"
Hi,

I am currently working on a custom armv7 board (similar to a raspberry pi), and am having trouble upgrading to using exqlite. I was using [esqlite](https://github.com/mmzeeman/esqlite), and everything was working fine, but due to the fact that https://github.com/elixir-sqlite/sqlitex and https://github.com/elixir-sqlite/sqlite_ecto2 are no longer being maintained and needed to use ecto 2, I a

[2022-03-29 15:29] warmwaffles commented on #196
I'll take a look at this soon. I don't have easy access to 32 bit arm at the moment.

Could you do me a favor and blow away your `_build` and then do `V=1 mix deps.compile exqlite`

[2022-03-29 16:11] warmwaffles commented on #196
When I get some time this evening I'll try to recreate this issue. What would be really helpful is setting up a dummy project for me to check out and poke around in.

Can you also take a look and downgrade exqlite to `0.9.3`? In the change from [0.9.3 to 0.10.2](https://github.com/elixir-sqlite/exqlite/compare/v0.9.3...HEAD) I added a custom allocator and I am wondering if that is causing any issu

[2022-03-29 21:33] alanj853 commented on #196
Hi @warmwaffles , here is the dummy project you can use: https://github.com/alanj853/exqlite_testing

I haven't got around to trying the downgrade yet, will hopefully get time tomorrow.

Thanks again.

[2022-03-29 23:15] warmwaffles commented on #196
Thank you.

[2022-03-31 01:55] warmwaffles commented on #196
@alanj853 forgive me for being a bit of a scrub at this, but what is the toolchain setup you used?

[code]

[2022-03-31 07:15] alanj853 commented on #196
@warmwaffles , we are using a custom armv7 toolchain built from the poky distribution (https://www.yoctoproject.org/software-item/poky/). Unfortunately, I am unable to share the details of it as it is proprietary.

But I do know it is very similar to the toolchain used for cross compiling on the RPI, as I have an RPI and was able to move and run code between the two without issue.

[2022-03-31 07:34] alanj853 commented on #196
Just another update before anyone else tries it, this only seems to happen on 32 arm. On 32 bit debian/ubuntu for example the issue does not show, even though if you were to do a C program, you would still see the overflow, as expected:

[code]

[2022-03-31 07:46] LostKobrakai commented on #196
I just tested this on one of the devices we work on:
[code]
This is built using a custom nerves system based on the official bbb one, with the nerves toolchain.

[2022-03-31 11:48] alanj853 commented on #196
I got my hands on an actual RPI3 this morning and tested it out, compiling directly on the PI. No issue. Looking like it might be specific to my toolchain/board setup, not even 32 bit ARM.

[code]

[2022-04-01 21:30] warmwaffles commented on #196
@alanj853 keep me posted on any findings please.

[2022-04-05 08:49] alanj853 commented on #196
I figured out my problem. The toolchain I am using has a different definition for the size of long integers in erl_int_sizes_config.h than the standard erlang one. However, the Makefile wasn't listing my toolchain's erl_int_sizes_config.h directory in the include flags.

Having gone through the issues for this repository, I saw @warmwaffles you mentioned you took some of your Makefile from circuit

[2022-04-05 13:08] warmwaffles commented on #196
@alanj853 send a PR I think it would be fine to add.

[2022-04-08 09:40] SebastianSzturo opened #199 "Big result queries are slow compared to SQLite3 CLI or other clients"
I've noticed that large queries are significantly slower via `ecto_sqlite3` than through the `sqlite3` CLI when using Ecto or `Exqlite.Connection` (not with `Exlite.Sqlite3`)

Here is the example data of ~650k rows: [dev.db.zip](https://github.com/elixir-sqlite/ecto_sqlite3/files/8449228/dev.db.zip)

Via SQLite3 CLI or any other SQLite3 GUI (with wal mode enabled):
[code]

 With `Exqlite.Connectio

[2022-04-08 10:58] SebastianSzturo commented on #199
Here is a full benchmark example of the performance difference with a `limit 10000` to make the performance difference clearer without having the client timeout in the connection example:

[code]

[code]

[2022-04-08 16:35] warmwaffles commented on #199
DB Connection has the overhead of pooling connections and all that jazz that makes it play nice with postgres, mysql, and mssql. This is something to keep in mind.

[2022-04-08 16:36] warmwaffles commented on #199
In your test you also do not send the same options for `{:ok, conn} = Exqlite.Sqlite3.open("./dev.db")`

[2022-04-08 16:37] warmwaffles commented on #199
I'll definitely look into this more and maybe throw this into a benchmark that we similarly do for `ecto_sqlite3`

[2022-04-08 21:07] SebastianSzturo commented on #199
Thank you for your reply and taking a look at this, I really appreciate it!

Also Sorry I've messed up a bunch of things in the benchmarks. I also forget to actually call `step` on the statement in the first example... here is a bit of a more complete benchmark but still reproduces the same issue:

[code]
[code]

(The Query is as fast as expected in other clients like Ruby (ActiveRecord & standalo

[2022-04-08 21:13] warmwaffles commented on #199
I suspect something is funky with db connection or with how I implemented it.

[2022-04-08 22:27] warmwaffles commented on #199
@SebastianSzturo `multi_step/2` is not the function you want to call. You'll want to instead call `fetch_all/2`.

Multi step only goes into the NIF and runs `sqlite3_step(statement->statement)` `chunk_size` times. `fetch_all/2` does exactly what the name says and grabs all the rows of the query. You'll probably find out that it is just as fast as `exqlite_connection`.

[2022-04-08 23:41] SebastianSzturo commented on #199
I've reran the benchmark with `fetch_all/2` and still see the same speed difference:

[code]

I'll try to step through the db connection codepath and see if I can find what might be causing the slowdown.

[2022-04-09 10:52] SebastianSzturo commented on #199
You are totally right, now that I properly debugged my code and used `fetch_all/2`, both approaches are equally slow.

Some really amateur-ish `IO.inspect` debugging shows that it is indeed `fetch_all` and stepping through all results that takes a long time and not the database:
[code]

And turns out you call this issue out in the comments:
https://github.com/elixir-sqlite/exqlite/blob/main/lib/ex

[2022-04-09 12:00] SebastianSzturo commented on #199
Here is some interesting background on lists in Elixir/Erlang that you probably already know but helped me understand the problem better: https://www.wyeworks.com/blog/2019/03/01/to-use-or-not-to-use-the-++-operator-in-elixir/

[2022-04-10 02:20] SebastianSzturo commented on #199
I've opened a PR to try to improve the performance by prepending the list and reversing at the end, instead of appending it: https://github.com/elixir-sqlite/exqlite/pull/200

[2022-04-11 10:31] SebastianSzturo commented on #199
Thanks for the quick review and merge. My queries are now blazing fast 🔥

SQLite3 + Livebook are a quite unbeatable team when it comes to analyzing big data sets. Thank you for making that possible!!

[2022-04-11 10:31] #199 closed

[2022-04-22 16:50] mdwaud commented on #131
Just seeing this now as I'm looking at duckdb for similar needs. In the interest of sharing my findings:

* duckdb does produce an amalgamation file. You have to run a python script, but it's pretty straightforward.
* There are a few elixir and erlang projects for duckdb:
  * https://github.com/mmzeeman/educkdb
  * https://github.com/mpope9/exduckdb

I'm not 100% on this, but the first one appears

[2022-04-22 21:02] warmwaffles commented on #131
@mdwaud it seems like `exduckdb` _could_ be used for the `ecto_sqlite3` in place of this adapter. I tried not to tightly couple `exqlite` to `ecto_sqlite3` in case someone comes up with a better adapter solution or wanted something like duckdb.

[2022-05-02 13:35] #196 closed

[2022-05-04 22:04] aleDsz opened #202 "Use a struct as response from executed query to get the rows and columns"
Hi!

Firstly, I want to say that I loved the project and it's great to have support for SQLite in Elixir.

We have been building a new feature to support `SQLite` through `livebook` app and `kino_db` library, which allows users to input their database path and loads data directly from a Livebook (same as Jupyter Notebook).

And one of our features is to support the "table" format to visualize data

[2022-05-04 22:19] warmwaffles commented on #202
@aleDsz has this been implemented for other database connections? Ones off the top of my head, postgrex, myxql, etc...

I ask because it would be wise to follow a similar pattern if it is.

If it isn't, then I am open to it definitely

[2022-05-04 22:24] aleDsz commented on #202
@warmwaffles  Yes, we have Postgrex and MyXQL already implemented and with the `Table.Reader` protocol implemented by `kino_db`.

[2022-05-04 22:28] warmwaffles commented on #202
Can you point me to those implementations? Perhaps I could do this change quickly.

[2022-05-04 22:34] aleDsz commented on #202
Sure.

We have been using the function `query!/4` present in both ([`postgrex`](https://github.com/elixir-ecto/postgrex/blob/e6f18d849476deb324eb0567eee841dd21bbd3bb/lib/postgrex.ex#L339-L349) and [`mysql`](https://github.com/elixir-ecto/myxql/blob/a986aee7f9d86b735f6e97b9d3442e0bbcb2d0e9/lib/myxql.ex#L262-L275)) and using the same struct format to return the result for both ([`postgrex`](https://

[2022-05-04 22:34] aleDsz commented on #202
One single function to receive the conn, the query, parameters bindings and extra options (if possible, offcourse)

[2022-05-04 22:37] warmwaffles commented on #202
That looks simple enough.

[2022-05-04 23:21] warmwaffles commented on #202
I think this could be as simple as

[code]

[2022-05-04 23:25] warmwaffles commented on #202
I haven't been using the top level `Exqlite` module and I think replicating a similar interface that postgrex has is a good idea. I'll make a PR for that change with some tests for it as well.

[2022-05-05 02:59] warmwaffles commented on #202
@aleDsz https://github.com/elixir-sqlite/exqlite/pull/203 mind checking this branch out and giving your thoughts?

[2022-05-05 13:08] aleDsz commented on #202
I'm checking it right now

[2022-05-05 13:47] aleDsz commented on #202
To me, it's all good to connect and make queries.

![image](https://user-images.githubusercontent.com/6402997/166937077-947e7408-019c-4f63-970a-65e9bc1ef2ab.png)

I've talking with Jose about maybe implementing the `table` dependency as optional here and implement the table reader protocol to convert columns and rows, like we did in [`postgrex`](https://github.com/elixir-ecto/postgrex/pull/601).

[2022-05-05 13:51] warmwaffles commented on #202
That sounds good to me. I can roll that into my PR above as well.

[2022-05-05 14:07] aleDsz commented on #202
This is awesome, I can't wait to be released so we can ship our feature too
Thank you for the awesome work ❤️ 💛 🖤 💙 💚 💜

[2022-05-05 14:12] #202 closed

[2022-05-06 14:05] aleDsz commented on #202
@warmwaffles Hey, I have a question about this new API. Should we use `Exqlite.Connection` or `Exqlite` directly? I ask because using a PID for SQLite it only uses a file to connect and doesn't support pooling.

Also, should Exqlite raise if he tries to start with `DbConnection` and we didn't pass a valid `:database` option?

[2022-05-06 14:09] warmwaffles commented on #202
@aleDsz How are you interacting with postgres? It has a `Postgrex.Protocol` which is the same as `Exqlite.Connection` both implement the `DBConnection` protocol.

[2022-05-06 14:11] warmwaffles commented on #202
As for the raising on connection, I don't know if that is an expected behavior for the `DBConnection` protocol. We just return an `{:ok, _} | {:error, _}` tuple

https://github.com/elixir-sqlite/exqlite/blob/0c385ac1e4deb27f65c55cc11328b044240b8a21/lib/exqlite/connection.ex#L140-L155

[2022-05-06 14:18] aleDsz commented on #202
We are using `Kino.start_child/1` to start `Postgrex`/`Exqlite` in the same way and we send the `query!/4` to query.

[2022-05-06 14:20] aleDsz commented on #202
I mean, the API is super simple now and it works. But, now `Exqlite` has two APIs, is that okay or we should adapt to `Exqlite.Connection`? This is the point for my first question.

[2022-05-06 15:14] warmwaffles commented on #202
Heh, `Exqlite` has a few interfaces to be honest. But they either go through the `DBConnection` interface or directly with `Exqlite.Sqlite3`.

It's not a huge issue at the moment.

Is the `Postgrex` processed pooled?

[2022-06-01 09:16] ruslandoga opened #204 "fetch_all breaks row order"
👋

When using `ecto_sqlite3` with a table and an index

[code]

executing

[code]

returns rows unordered by time from `fetch_all`. The rows are ordered by time when iterating `step` and `multi_step` manually.

### Steps to reproduce:

[w2_dev.csv](https://github.com/elixir-sqlite/exqlite/files/8812687/w2_dev.csv)

[code]

[code]

[code]

[code]

[2022-06-01 09:58] ruslandoga commented on #204
Ping @SebastianSzturo since the problem seems to have been introduced in https://github.com/elixir-sqlite/exqlite/pull/200

[2022-06-01 13:18] #204 closed

[2022-06-03 15:16] ruslandoga opened #206 "[question] how can one use sqlite3_create_function() or sqlite3_create_window_function()"
👋

I'd like try defining [a custom aggregate / window function](https://www.sqlite.org/appfunc.html) in a NIF and I wonder if there is some easy way. The NIF would be in my app that depends on `:ecto_sqlite3`, so I don't have direct access to `:exqlite`, but that's a problem for later.

[2022-06-03 15:50] ruslandoga commented on #206
Seems like it's already possible to define custom functions via extensions.

https://hexdocs.pm/exqlite/readme.html#using-sqlite3-native-extensions

[2022-06-03 15:50] warmwaffles commented on #206
@ruslandoga you may want to check out @mindreframer's stuff.

* https://github.com/mindreframer/sqlite_init
* https://github.com/mindreframer/ex_sqlean

Another issue

https://github.com/elixir-sqlite/exqlite/issues/174

[2022-06-04 22:36] aus70 opened #207 "mix ecto.migrate creates an encrypted db, mix ecto.create doesn't"
when using sqlcipher, the `mix ecto.migrate` command (after `mix ecto.create`) results in the following error:

[code]

interestingly, using `mix ecto.migrate` right after `mix ecto.drop` results in the following error:

`[error] Exqlite.Connection (#PID<0.372.0>) failed to connect: ** (Exqlite.Error) database is locked`

but immediately afterwards the db is created, the migration is successful an

[2022-06-06 13:08] warmwaffles commented on #207
@ConnorRigby may have more insight into this than I do. I have not played much with the encrypted database stuff.

[2022-06-06 22:49] hez opened #208 "Ecto.Query.order_by returning incorrect order"
I've tried to narrow this down to the smallest dataset I could (results very as I remove entries and eventually it does the correct sorting). Running this through the raw Exqlite `query!` returned the same results as through Ecto.

What I expect to happen:

Using order_by should give the same order as running the raw query in sqlite3 command line.

What actually happens:

Order is not identical.

[2022-06-07 03:28] warmwaffles commented on #208
Which version are you running? We recently had some changes around ordering here https://github.com/elixir-sqlite/exqlite/pull/205

[2022-06-07 04:25] hez commented on #208
0.11.1

Just noticed there is an 0.11.2, will check that

[2022-06-07 15:14] hez commented on #208
It does appear that #205 and the release of 0.11.2 fixed it! Thanks!

[2022-06-07 15:14] #208 closed

[2022-06-08 19:23] SebastianSzturo commented on #190
I am still seeing the segfault described above in my app.

[code]

Is there a way to increase this timeout? I don't think any of the timeout settings are affecting it for me.
Any way I can help to debug it?

[2022-06-08 20:36] warmwaffles commented on #190
Which version are you running?

Do you have a reliable way to reproduce the segfault?

[2022-06-09 02:04] SebastianSzturo commented on #190
I am running on `master`. I'll try to reproduce it in a test file to share and report back 👍🏻

[2022-06-09 06:10] ruslandoga opened #209 "[question] sqlite extension alignment problem in exqlite, but not in sqlite3"
👋

I understand that it's unlikely to be a problem in `exqlite`, but just in case you have any idea as to what I'm doing wrong.

---

Repo: https://github.com/ruslandoga/sqlite-zig-problem

I'm trying to write an extension for sqlite in [zig](https://ziglang.org) and I'm getting an [alignment panic](https://ziglang.org/documentation/master/#Alignment) when fetching sqlite's aggregate context. But,

[2022-06-09 13:31] ruslandoga commented on #209
@warmwaffles here's the zig file: https://github.com/ruslandoga/sqlite-zig-problem/blob/master/src/ext.zig

Here's how I'm compiling it on mac: https://github.com/ruslandoga/sqlite-zig-problem/blob/0c206a50001139ff633a74ce0b909790588200c6/Makefile#L10-L12

Zig docs suggest downloading "nightly" master builds so I'm using

[code]

[2022-06-09 13:33] warmwaffles commented on #209
@ruslandoga are you also on an M1 mac?

[2022-06-09 13:34] ruslandoga commented on #209
@warmwaffles ah, yes.

[2022-06-14 15:28] lovebes commented on #144
litestream does allow backing up into a file. I know I'm chiming in here a year later - but yeah since one year, Litestream is really picking up some steam :) It'd be awesome if exqlite supports this in-house so no additional dependency is added.

[2022-06-14 15:47] warmwaffles commented on #144
@lovebes I don't think there is anything we have to do directly. AFAIK, litestream just watches the write ahead log file to replicate changes. I don't think there is anything directly that we can do here.

[2022-06-14 17:31] lawik commented on #144
I think exposing any existing backup API can be smart. I’d suggest not introducing litestream which is another binary and a whole opinion on how to do backups into the low-level db library here.

There is already a package for running Litestream: https://hex.pm/packages/litestream

[2022-06-15 00:26] lovebes commented on #144
Ah yes, I agree with the approach.

[2022-06-16 09:25] ruslandoga commented on #209
@warmwaffles small update: I printed the pointer and it was `102a7acdc` when called from Elixir and `120016530` when called from `sqlite3-cli`. Converting these to base10 yields 4831929648 and 4339510492. And `4831929648/8 = 603991206` but `4339510492/8 = 542438811.5` and that's what `@alignCast` checks.

[2022-06-16 11:38] ruslandoga commented on #209
[`std.mem.alignForward` workaround works](https://github.com/ruslandoga/sqlite-zig-problem/pull/1)

[2022-06-16 14:28] warmwaffles commented on #209
I 100% trust `enif_alloc` to do the right alignment based on the architecture OTP was compiled for.

[2022-06-17 19:47] #40 closed

[2022-06-17 19:47] #99 closed

[2022-08-04 14:37] ewildgoose commented on #169
Ooh! Interesting! Nice spot!

[2022-08-08 11:51] #135 closed

[2022-08-08 12:19] #149 closed

[2022-09-22 19:44] keatz55 commented on #190
Experiencing the same issue. In our case, we've set DBConnection `:timeout` and Exqlite `:busy_timeout` to the same value. Could a potential cause be that the DBConnection execution times out and terminates Exqlite before it has an opportunity to free up memory? Then on the subsequent connection creation, Exqlite attempts to allocate memory on the wrong block of data?

[2022-09-22 22:17] warmwaffles commented on #190
So as it stands right now with the DirtyNIF implementation, the DBConnection will crash but the query running in the background never actually gets terminated. If you are operating on a large database it is quite possible that your query would continue to run even if the connection timed out.

I have been meaning to find time to swap out the DirtyNIF model for a runtime that can cancel running que

[2022-09-22 22:25] warmwaffles commented on #190
What would be really helpful is if there is a way I can replicate this error repeatedly.

[2022-09-26 19:22] pavancse17 commented on #190
Hey @warmwaffles ,

I have been working @keatz55 on recreating this issue. here is the test case that you can use to reproduce in your machine. Also what we noticed in our testing is that when we adjust `timeout` value to double the value of `busy_timeout`. we are not getting any segfaults.

[code]

Output:
[code]

[2022-09-26 19:32] warmwaffles commented on #190
Excellent news! I'll take a look at this soon.

[2022-09-27 02:14] warmwaffles commented on #190
The `busy_timeout` here

[code]

Has no effect on the query itself. The `busy_timeout` is used for only connecting to the database which runs `PRAGMA busy_timeout = 50000`

But that `timeout` is definitely something happening with the DBConnection pooling.

[2022-09-27 04:42] warmwaffles commented on #190
@pavancse17 and @keatz55 right now if you keep your pool size at 1, this segfault won't occur.

I'm still in the process of trying to figure out where the address boundary error is happening precisely, but I am suspicious that it is around the open and closing of connections.

[2022-09-28 16:55] warmwaffles commented on #209
@ruslandoga are you still having alignment issues?

[2022-09-28 18:29] ruslandoga commented on #209
@warmwaffles hi! I wasn't able to find the cause of this issue at the time so I moved away from using extensions in my app. I still plan to learn more about low-level programming and find out what's going on, though :)

[2022-09-28 19:08] warmwaffles commented on #209
Alright

[2022-10-03 05:25] warmwaffles commented on #190
I'm still looking in to this issue. Will need to probably utilize a custom compiled ERTS with valgrind compiled with it.

[2022-10-03 05:30] warmwaffles opened #217 "Benchmark multi_step vs step implementation"
Originally I implemented the adapter to use single steps and just let it work with erlang's scheduler. I remember I ran into issues where selecting data was actually slower than just batching the results in a list and returning them.

What I would like to do is add a benchee test that works with both methods on a large data set, to really see what sort of improvements can be made and can be quanti

[2022-10-24 02:55] warmwaffles commented on #190
I'm still having a difficult time trying to figure what exactly is causing this.

Here is the test that reproduces the issue.

https://github.com/elixir-sqlite/exqlite/compare/segfault-hunting

[2022-10-24 03:45] warmwaffles commented on #190
I believe something funky is happening when a `DBConnection` times out. There is no callback to handle that defined upstream to allow for a graceful tear down of resources.

I don't have any concrete evidence yet, but I believe a reference to an sqlite database in memory is getting garbage collected when it shouldn't be, or a statement is getting garbage collected at the wrong time.

I do believe

[2022-11-06 16:49] fire opened #220 "Integration of mvsqlite"
I was looking at https://github.com/losfair/mvsqlite and it seems like it's a drop in replacement for sqlite.

I wasn't sure how to do the integration to elixir properly and it feels like I should fork exqlite, but I didn't want to separate efforts.

[2022-11-07 02:15] warmwaffles commented on #220
It _could_ be done. But I highly suggest using [rustler](https://docs.rs/rustler/latest/rustler/). You'll definitely need to make a new package unfortunately.

I don't have enough rust experience to give guidance. But I can say, I think if it is a true drop in replacement, all you'll need to do is implement the `DbConnection` interface. Once that's done, we could make the backend configurable in `

[2022-11-08 17:09] OldhamMade opened #221 "Feature request: Add support for Data Change Notification Callbacks"
It would be great if exqlite supported Data Change Notification Callbacks, eg. `set_update_hook`, similar to [mmzeeman/esqlite](https://github.com/mmzeeman/esqlite). `esqlite` is great, however it is very Erlang-focused and the original Elixir wrapper library for it has been abandoned. It would be very useful to be able to act on hooks within a project that is using [ecto_sqlite3](https://hex.pm/p

[2022-11-17 17:47] joserpintuitivo opened #222 "No Compile Nerves"
Hi, I got this error trying to build with Nerves and a custom image. Help would be very useful.

[code]

[code]

[2022-11-17 18:01] warmwaffles commented on #222
Oh, @joserpintuitivo something is wrong with your `pthread` installation. That header is emitted from that library.

[2022-11-18 18:29] joserpintuitivo commented on #222
I found the solution to the problem. As I am using Erlang 23. I was using a very new Nerves Toolchain. You see to do a downgrade to version 1.4.1

[2022-11-18 18:30] #222 closed

[2022-11-29 15:03] ruslandoga commented on #221
@warmwaffles I wonder if it can be a separate connection behaviour like https://github.com/elixir-ecto/postgrex/blob/master/lib/postgrex/replication_connection.ex.

[2022-11-29 15:12] warmwaffles commented on #221
I'm not entirely sure how this would function because the update hooks would only work on the currently connected db connection / exqlite connection.

Definitely an interesting use case that doesn't fit the current paradigm that `DbConnection` and `Ecto` have defined.

[2022-11-29 16:05] OldhamMade commented on #221
It would allow someone using a SQLite database to get close to mimicking the LISTEN/NOTIFY functionality from Postgres, which is my specific use-case: I'd like to act on table updates caused by DB triggers from within Elixir code.

I'm not sure that it needs to fit with that paradigm. I think it is more akin to `Postgrex.Notifications`, a useful extra.

[2022-11-29 16:44] warmwaffles commented on #221
I didn't realize `Postgrex` had that ability. I'll take a look at how they resolved the `LISTEN` / `NOTIFY`. We may be able to utilize a similar functionality.